Title: Home
NoSidebar: true
NoContainer: true
NoGutter: true
---
<div class="jumbotron">
    <div class="container">
        <h1>What is MahApps.Metro?</h1>
        <p>MahApps.Metro is a framework that allows developers to cobble together a Metro or Modern UI for their own WPF applications with minimal effort.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://github.com/MahApps/MahApps.Metro/wiki/Quick-Start" target="_blank" role="button">Get Started &raquo;</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h3 class="align-top">Enhance the default controls</h3>
            <p>
                MahApps.Metro overrides the style of the default WPF controls and gives them a metro-ish (modern) look.
            </p>

            <h3>More than just styles</h3>
            <p>
                MahApps.Metro also includes some custom controls based on concepts from Windows Phone and Windows 8 Apps.
            </p>

            <h3>Open source</h3>
            <p>
                We believe in open source and so should you. Something not right? Something could be improved? Or something to add?
                The source code for MahApps.Metro is <a href="https://github.com/MahApps/MahApps.Metro">hosted on GitHub</a> and
                includes everything needed to build it yourself, so drop in and help us make it better.
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img style="width: 100%;" src="assets/img/screenshot.png" alt=""/>
        </div>
    </div>
</div>
