Order: 30
Description: Built-in dialogs in MahApps
---

<p>
Since the built-in WPF dialogs are unstyleable, we had to create our own implementation.
</p>

<p>
You will find our dialogs within the <code>MahApps.Metro.Controls.Dialogs</code> namespace.
</p>

<p>
All dialogs in MahApps.Metro are called asynchronously. This means that you can use the <code>async / await</code> keywords to use the methods and call the dialogs
</p>

@Html.Partial("_ChildPages")